<ion-header> 

<ion-navbar text-center color="dark">
<ion-navbar hideBackButton *navbar></ion-navbar>

  <ion-buttons start>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title center> "Worker name" </ion-title>
</ion-navbar>

</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item *ngFor="let worker of workerJSON">
        <div class="worker.image" padding-vertical>
          <img [src]="worker.profilePic" />
        </div>
       </ion-item>
     </ion-col>

    <ion-col>
      <ion-item *ngFor="let worker of workerJSON">
       <h2>{{worker.first_name}}</h2>
       <h3>{{worker.about}}</h3>
       <p>{{worker.info}}</p>
      </ion-item>
       <ion-item>
        <ion-label>Active</ion-label>
          <ion-toggle [(ngModel)]="Active"></ion-toggle>
       </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>