page-service {
	.persona-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .persona-detail {
    width: 100%;
    background: white;
  }

  .persona-description{
    width: 100%;
    background: white;
    text-align: center;
  }

  .center{
    text-align: center;
  }
}