<ion-header> 

<ion-navbar text-center color="dark">

  <ion-buttons start>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title center>Search</ion-title>
</ion-navbar>

</ion-header>

<ion-content>

	<ion-list>
	<ion-list-header>Location:</ion-list-header>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	</ion-list>

	<ion-list>
	<ion-list-header>Market description:</ion-list-header>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	</ion-list>

	<div padding>
	<ion-list-header>Filter by:</ion-list-header>
  <ion-segment [(ngModel)]="filter">
    <ion-segment-button value="Date">
      Date
    </ion-segment-button>
    <ion-segment-button value="Wage">
      Wage
    </ion-segment-button>
    <ion-segment-button value="MArket type">
      Market type
    </ion-segment-button>
  </ion-segment>
</div>

	<div #map id="map"></div>
  <!-- <ion-item>
  <ion-buttons end>
  <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>
  </ion-item> -->

	<div padding-vertical>
    <ion-list-header>Jobs</ion-list-header>
     <ion-item *ngFor="let persona of personasJSON">
       <button ion-item (click)="openPersona(persona)">
        <ion-thumbnail item-start>
          <img [src]="persona.profilePic" />
        </ion-thumbnail>
        <h2>{{persona.name}}</h2>
        <h3>{{persona.about}}</h3>
        <ion-note item-end *ngIf="persona.note">{{persona.note}}</ion-note>
      </button>
    </ion-item>
    
    <button ion-button full (click)="OpenHistory()">See more</button>
    </div>

</ion-content>
