<ion-header> 

<ion-navbar text-center color="dark">
<ion-navbar hideBackButton *navbar></ion-navbar>

  <ion-buttons start>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title center>Search</ion-title>
</ion-navbar>

</ion-header>

<ion-content>

	<ion-list>
	<ion-list-header>Location:</ion-list-header>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	</ion-list>

	<ion-list>
	<ion-list-header>Market description:</ion-list-header>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	</ion-list>

  <ion-grid>
    <ion-list-header>Filter by:</ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Date</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label floating>Wage</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label floating>Market type</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

	<div #map id="map"></div>

	<div padding-vertical>
    <ion-list-header>Jobs</ion-list-header>
     <ion-item *ngFor="let persona of personasJSON">
       <button ion-item (click)="openPersona(persona)">
        <ion-thumbnail item-start>
          <img [src]="persona.profilePic" />
        </ion-thumbnail>
        <h2>{{persona.name}}</h2>
        <h3>{{persona.about}}</h3>
        <ion-note item-end *ngIf="persona.note">{{persona.note}}</ion-note>
      </button>
    </ion-item>
    
    <button ion-button full (click)="OpenHistory()">See more</button>
    </div>

</ion-content>
