<ion-header> 

<ion-navbar color="dark">

  <ion-buttons start>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
</ion-navbar>

</ion-header>
<!--
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
 <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
-->

<ion-content>

  <ion-list>

      <ion-list>
        <ion-item>
          <button ion-item (click)="openItem()">
            <ion-avatar item-start>
              <img src="assets/img/user.png">
            </ion-avatar>
            <h2>Worker name</h2>
            <p>Rating</p>
          </button>
        </ion-item>
      </ion-list>

      <div padding-vertical>
      <ion-list-header>Last works</ion-list-header>
      <ion-item-sliding *ngFor="let persona of currentPersonas">
       <button ion-item (click)="openPersona(persona)">
        <ion-thumbnail item-start>
          <img [src]="persona.profilePic" />
        </ion-thumbnail>
        <h2>{{persona.name}}</h2>
        <h3>{{persona.about}}</h3>
        <ion-note item-end *ngIf="persona.note">{{persona.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <button ion-button full start (click)="OpenHistory()">Submit</button>
    </div>

    <div padding-vertical>
    <ion-list-header>Suggestions</ion-list-header>
     <ion-item-sliding *ngFor="let persona of currentPersonas">
       <button ion-item (click)="openPersona(persona)">
        <ion-thumbnail item-start>
          <img [src]="persona.profilePic" />
        </ion-thumbnail>
        <h2>{{persona.name}}</h2>
        <h3>{{persona.about}}</h3>
        <ion-note item-end *ngIf="persona.note">{{persona.note}}</ion-note>
      </button>
    
    <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <button ion-button full>See more</button>
    </div>

  </ion-list> 
</ion-content>